#pandas==1.5.0      # Data analysis library
numpy==1.23.1      # Numeric computing library
psycopg2-binary>=2.8
cryptography==43.0.1
apache-airflow==2.10.2
requests==2.32.3
apache-airflow-providers-microsoft-azure
azure-storage-blob
json